workDir = './runs/nextflow/work'

params {
    genomedir        = null
    modeldir         = null
    ref              = null
    percent_models   = 10
    max_sdup         = -1
    max_dupl         = -1.0
    lflt             = 0
    hmmsearch_cutoff = 'cut_ga'
    hmmsearch_evalue = 1e-5
    aln              = 'hmmalign'
    tree_method      = 'fasttree'
    iqtree_fast      = true
    iqtree_model     = 'LG+F+I+G4'
    selection_mode   = 'coordinate'
    selection_max_rounds = 5
    selection_global_rounds = 1
    lock_references  = false
    marker_selection = false
    ani_cluster      = false
    ani_threshold    = 95.0
    ani_backend      = 'auto'
    ani_mcl_inflation = 2.0
    snp_tree_min_cluster_size = 3
    singles          = false
    singles_mode     = 'neighbor'
    num_nei          = 0
    singles_min_rfdist = 0.25
    outdir           = './runs/nextflow/default'
    hmmsearch_cpus   = 8
    align_cpus       = 4
    ani_cpus         = 4
    snp_cpus         = 4
    fasttree_cpus    = 1
    render_png       = true
}

process {
    cpus   = 1
    memory = '4 GB'

    withName: 'HMMSEARCH'           { cpus = params.hmmsearch_cpus }
    withName: 'ALIGN_.*'            { cpus = params.align_cpus }
    withName: 'ANI_CLUSTER'         { cpus = params.ani_cpus; memory = '16 GB' }
    withName: 'BUILD_SNP_TREES'     { cpus = params.snp_cpus; memory = '16 GB' }
    withName: 'FASTTREE.*'          { cpus = params.fasttree_cpus; memory = '8 GB' }
    withName: 'BUILD_SUPERMATRIX.*' { memory = '8 GB' }
}
