workDir = './runs/nextflow/work'

params {
    genomedir        = null
    modeldir         = null
    ref              = null
    percent_models   = 10
    max_sdup         = -1
    max_dupl         = -1.0
    lflt             = 0
    hmmsearch_cutoff = 'cut_ga'
    hmmsearch_evalue = 1e-5
    aln              = 'hmmalign'
    tree_method      = 'fasttree'
    iqtree_fast      = true
    iqtree_model     = 'LG+F+I+G4'
    marker_selection = false
    singles          = false
    outdir           = './runs/nextflow/default'
    hmmsearch_cpus   = 8
    align_cpus       = 4
    fasttree_cpus    = 1
    render_png       = true
}

process {
    cpus   = 1
    memory = '4 GB'

    withName: 'HMMSEARCH'           { cpus = params.hmmsearch_cpus }
    withName: 'ALIGN_.*'            { cpus = params.align_cpus }
    withName: 'FASTTREE.*'          { cpus = params.fasttree_cpus; memory = '8 GB' }
    withName: 'BUILD_SUPERMATRIX.*' { memory = '8 GB' }
}
